body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

div.wrapper {
  box-sizing: border-box;
  top: 0;
  position: absolute;
  padding: 12px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
}

div#legendWrapper {
  width: 350px;
  display: none;
}

div.tile {
  background-color: #FFFFFF;
  overflow-y: auto;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

span#title {
  line-height: 1;
  font-size: 1.1rem;
  font-weight: bold;
}

div#manual {
  padding-block-start: 0.45rem;
  font-size: 0.9rem;
}

img.legendExpImg {
  padding: 14px 16px 8px 16px;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 4/3;
}

p.legendExpText {
  margin-block-start: 0.2rem;
  margin-block-end: 0;
  font-size: 0.9em;
  line-height: 1.5;
  padding-block-end: 0.5rem;
}

div.legendTopBox {
  display: flex;
}

div.legendBottomBox {
  display: flex;
}

div.legendParents {
  flex-grow: 1;
  font-size: 0.8rem;
  line-height: 1.3;
  color: #7b7b7b;
  margin-block-start: 0;
  margin-block-end: 0.4rem;
  overflow-wrap: anywhere;
}

button.legendCloseButton {
  all: unset;
  font-size: 1.7rem;
  line-height: 1rem;
  cursor: pointer;
  /* expand clickable area */
  margin: -5px -5px -5px 0;
  padding: 5px;
}

div.legendCode {
  display: flex;
  align-items: flex-end;
  margin-block-start: 0;
  margin-block-end: 0.3rem;
}

div.legendExpCite {
  border-top: 1px solid #b8b8b8;
  font-size: 0.75rem;
  padding-block-start: 0.6rem;
  line-height: 1.4;
  color: #494949;
  margin-block-start: 0.1rem;
}

span.legendCodeNumber {
  margin-left: 0.4rem;
  font-size: 1rem;
  line-height: 1;
  color: #494949;
  flex-grow: 1;
}

span.legendExpCodeNumber {
  color: #494949;
  font-size: 1rem;
}

input.legendColorBox {
  display: inline-block;
  border: none;
  padding: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

input.legendColorBox::-webkit-color-swatch-wrapper {
  padding: 0;
}

input.legendColorBox::-webkit-color-swatch {
  border: none;
}

details.legendWrapDetails>summary {
  margin-block-start: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

details.legendWrapDetails[open]>summary {
  list-style: none;
}

details.legendExpDetails>summary {
  padding-block-end: 0.6rem;
  font-size: 0.85rem;
}

div.legendExpTitle {
  font-size: 1.1rem;
  line-height: 1.5;
  padding-block-start: 0.6rem;
  border-top: 1px solid #b8b8b8;
}

div.legendPopup {
  font-size: 0.9rem;
  padding-block-start: 0.25rem;
  padding-left: 3px;
  padding-right: 3px;
}

div#settingsControl {
  margin-left: 10px;
  padding: 12px;
  line-height: 1.5;
  width: 200px;
}

div#settingsControl,
div#settingsControl select,
div#settingsControl input {
  font-family: arial, sans-serif;
  font-size: 1rem;
}

div#settingsControl div.settingsControlLabel {
  font-size: 0.9rem;
}

div#settingsControlFilter {
  font-size: 0.7rem;
  padding-block-start: 0.3rem;
  color: #7b7b7b;
}

div.settingsControlLabelWrapper {
  position: relative;
}

button#settingsControlFilterResetButton {
  all: unset;
  position: absolute;
  height: 100%;
  line-height: 100%;
  right: 0;
  font-size: 1.4rem;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
}

button#settingsControlFilterResetButton:focus {
  background-color: rgb(0 0 0/5%);
}

div#settingsControl select {
  padding: 4px;
  width: 100%;
}

div#settingsControl input {
  padding: 4px 1.3rem 4px 4px;
  width: 100%;
  box-sizing: border-box;
}

div.settingsControlLabel {
  margin-block-end: 0.2rem;
}

div.settingsControlLabel:not(:first-of-type) {
  margin-block-start: 0.5rem;
}

div#settingsControlFilterWrapper {
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}


div#settingsControlFilterWrapper div:first-child {
  margin-block-start: 0.3rem
}

div#settingsControlFilterWrapper div {
  font-size: 0.8rem;
  color: #494949;
  line-height: 1.4;
}

/* mobile */
@media (max-width: 600px) {
  div.wrapper {
    width: 100% !important;
    max-height: 35%;
    padding: 8px;
  }

  img.legendExpImg {
    padding: 14px 0px 8px 0px;
    width: 50%;
  }

  details.legendWrapDetails[open]>summary {
    list-style: revert;
  }

}
