body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

div.popup {
  word-break: keep-all;
  overflow-wrap: break-word;
}

.legendParent {
  font-size: 0.7rem;
  color: #7b7b7b;
  margin-block-start: 0;
  margin-block-end: 0.23rem;
}

.legendCode {
  font-size: 1rem;
  color: #494949;
  margin-block-start: 0;
  margin-block-end: 0.3rem;
}

input.legendColorBox {
  display: inline-block;
  border: none;
  padding: 0;
  width: 0.9rem;
  height: 0.9rem;
  cursor: pointer;
}

input.legendColorBox::-webkit-color-swatch-wrapper {
  padding: 0;
}

input.legendColorBox::-webkit-color-swatch {
  border: none;
}

.legendName {
  margin-block-start: 0;
  margin-block-end: 0.1rem;
  font-size: 1.2rem;
}
