MAPTILE_CHU_URL = '"http://localhost:8000/mvt/chu/out/{z}/{x}/{y}.pbf"'
MAPTILE_SHOKUSEI_URL = '"http://localhost:8000/mvt/shokusei/out/{z}/{x}/{y}.pbf"'
MAPTILE_DETAIL_URL = '"http://localhost:8000/mvt/out/{z}/{x}/{y}.pbf"'
MAPBOX_ACCESS_TOKEN = "pk.XX.XXXX"
